body {
  margin: 0;
  font-family: Courier New;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  text-align: left;
  background-color: #e3e0e0;
}

#name {
  text-align: center;
  font-size: 4rem;
  line-height: 1;
  font-weight: 400;
}

#headerdiv {
  background-color: rgb(255,198,208);
  padding-top: 4%;
  margin: 5%;
  padding-bottom: 3%;
}

.tableofcontents {
  font-size: 2rem;
  text-align: center;
  line-height: .75;
  text-decoration: underline;
  /*margin-top: 5%;*/
  padding-bottom: 1%;
  color: black;
}

#white-block {
  background-color: white;
}

.work {
  padding: 3%;
  margin-left: 10%;
  background-color: rgb(85,85,85);
  color: white;
  margin-right: 10%;
  /*margin-bottom: 5%;*/
  margin-top: 5%;
}

.prose {
  padding-top: 5%;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 1.3rem;
}

.linktowork {
  padding: 5%;
  color: white;
  text-decoration: underline;
  margin: 1rem;
}

a:hover {
  color: rgb(0,0,0);
}

#white-block {
  margin: 5%;
  padding-bottom: 5%;
}

